
body {background:#fff;font-size:12px;font-family:Arial;line-height:150%;color:#666;margin:0;padding:0;}
div {margin:0 auto;padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p {border:none;list-style-type:none;margin:0;padding:0;}
a{ color:#666; text-decoration:none}
a:hover{ color:#c00; text-decoration:underline}
.block {width:960px;height:auto ; overflow:hidden}

.f_r{ float:right}
.f_l{ float:left}

.tl {text-align:left;}
.tr {text-align:right;}
.dis {display:block;}
.inline {display:inline;}
.none{display:none;}

.dashed {background:url(images/lineBg.gif) repeat-x left top;color:#666;padding:2px 0 3px 12px;}
.clearfix:after{
content:"."; display:block; height:0; clear:both;
visibility:hidden;
}
*html .clearfix{
 height:1%;
}
*+html .clearfix{
 height:1%;
}
.word {word-break:break-all;}
.B_input {border:1px solid #c8c1bb;}
.inputBg {border:1px solid #b3b3b3;background:url(images/inputbg.gif) repeat-x left top;height:18px;}
.f2 {color:#c60c0d;font-weight:bold;margin-right:15px;}
.f3 {color:#9e9e9e;}
.f4_b {color:#c60c0d;font-weight:bold;}
.f6 {color:#c60c0d;}
.market {font-size:12px;}
.shop {color:#c60c0d;font-size:12px; }
.market_s {text-decoration:line-through;}
.bnt_blue {background:url(images/bg.gif) no-repeat 0 0;width:52px;height:27px;text-align:center;line-height:27px;color:#696363;border:none;cursor:pointer;}
.bnt_blue_1 {background:url(images/bg.gif) no-repeat 0 -663px;width:78px;height:27px;text-align:center;line-height:27px;color:#696363;border:none;cursor:pointer;}
.bnt_blue_2 {background:url(images/bg.gif) no-repeat 0 -696px;width:139px;height:27px;text-align:center;line-height:27px;color:#696363;border:none;cursor:pointer;}
.bnt_bonus {background:url(images/bg.gif) no-repeat -56px 0;width:52px;height:27px;text-align:center;line-height:27px;color:#696363;border:none;cursor:pointer;}
.box {overflow:hidden;}
.box_1 {border:1px solid #eaeaea;background-color:#fff;}
.box_2 {border:1px solid #eaeaea;background:url(images/box_2Bg.gif) repeat-x top left;background-color:#edf8fe;overflow:hidden;}
#jiage {line-height:24px;padding:7px 15px;}
#jiage a {text-decoration:none;color:#666;padding:0 8px;}




h3 {height:32px;line-height:32px;font-size:14px;background:#f5f5f5;text-align:right; border-bottom:1px solid #eaeaea}
h3 span {float:left;padding-left:10px;font-size:14px;font-weight:bold;color:#ca0809;}
h3 span a{color:#ca0809}


.blank_no .blank{ display:none}





.AreaL h3 {height:32px;line-height:32px;font-size:12px;background:#f5f5f5;text-align:right;}
.AreaL h3 span {float:left;padding-left:17px;color:#c90809;font-size:14px; }




h5 {height:26px;line-height:26px;text-align:right;background-color:#f6f6f6;font-size:12px;color:#c91800;padding:0 10px 0 0;}
h5 span {float:left;font-weight:bold;padding-left:15px;}
h6 {height:26px;line-height:26px;text-align:right;font-size:12px;background:#f6f6f6;color:#666;border:1px solid #fff;padding-right:10px;}
h6 span {float:left;padding-left:15px;}
.blank {height:12px;line-height:12px;clear:both;visibility:hidden;}
.blank5 {height:12px;line-height:12px;clear:both;visibility:hidden;}
.blank5b {height:5px;line-height:5px;clear:both;visibility:hidden;}

.AreaL {width:200px;float:left; }
.AreaR {width:745px;float:right; _overflow:hidden}


.AreaL .boxCenterList ul{ padding:10px;}
.AreaL .boxCenterList li{ text-align:left; float:left; width:53px; overflow:hidden}
.AreaL .boxCenterList li .name{ height:63px; line-height:21px; overflow:hidden; display:block}

.boxCenterList ul {height:1%; margin-bottom:5px; text-align:left; line-height:18px;}
.boxCenterList li.goodsimg { width:102px; text-align:left; float:left; padding-right:10px; height:100px;}

.boxCenterList li.goodsimg img {width:100px;height:98px; border:1px solid #c7c7c7; display:block; }

.header_bg{ height:96px; position:relative;z-index:999999999; }
.log { color:#ccc; padding-top:4px; }
.log span{ color:#666}
.log a {color:#666; text-decoration:none; padding:0 3px 0 5px;}
.log a:hover{ color:#c60c0d; text-decoration:underline}
.log .userInfo a {color:#c60c0d;text-decoration:none;}
.log ul{ float:left}
.tel{ position:absolute; top:30px; right:0px;}


.ul1 { position:relative; z-index:999999999; width:74px; padding-left:6px; background:url(images/biao8.gif) 63px 4px no-repeat; float:left}
.ul1_float{ display:none}
.ul1_on .ul1_float{ display:block; position:absolute; padding-left:5px; z-index:999999999; top:-2px; left:0px; width:73px; border:1px solid #ccc; background:#FFFFFF url(images/biao8_b.gif) 62px 5px no-repeat}
.ul1_on .ul1_float a{ line-height:22px;}

#mainNav_out {border-bottom:1px solid #cdcdcd;background:#c60c0d;width:100%;}
#mainNav {width:100%;height:43px;position:relative;z-index:999;margin:0 auto; padding:0 10px;  background:url(images/meun_bg.gif) repeat-x}
#mainNav .a1 {color:#fff;font-size:14px; font-weight:bold;text-decoration:none;float:left; padding:5px 15px; margin-top:6px;}


#mainNav .ul_l{ display:none}
#mainNav .ul_r{ display:none}
#mainNav .u1_over .ul_l{ display:block; position:absolute; left:0; top:6px;}
#mainNav .u1_over .ul_r{ display:block; position:absolute; right:0; top:6px;}

.dot_l,.dot_r{ display:none}

#mainNav .u1_over .dot_l{ display:block; position:absolute; left:0; top:25px; border:1px solid #fff }
#mainNav .u1_over .dot_r{ display:block; position:absolute; right:0; top:25px; border:1px solid #fff }




/*
#mainNav .u1_over .a1{ background:#fff; color:#c90809; height:37px;}
#mainNav .u1_over .home_a{height:21px; background:#fff; overflow:hidden}
#mainNav .u1_over .home_a  .dot_l,#mainNav .u1_over .home_a  .dot_r{ display:none}
*/
#mainNav .u1_over .a1{background:#fff; color:#c90809}
#mainNav .u1_over .ul_l{ display:block; position:absolute; left:0; top:6px;}
#mainNav .u1_over .ul_r{ display:block; position:absolute; right:0; top:6px;}

#mainNav #cur .a1{background:#fff; color:#c90809}
#mainNav #cur .ul_l{ display:block; position:absolute; left:0; top:6px;}
#mainNav #cur .ul_r{ display:block; position:absolute; right:0; top:6px;}



#mainNav .meun_float {height:27px;line-height:27px; float:right; line-height:22px; padding-top:3px; }
#mainNav .meun_float *{ vertical-align:middle}
#mainNav .meun_float a{ color:#FFF; text-decoration:none;  height:27px;line-height:27px;}
#mainNav .meun_float b{ font-weight:bold; font-size:12px;line-height:27px;}





#mainNav .img2 {position:absolute;left:635px;top:2px; z-index:99999;}

#mainNav .u1 .sub_nav{ display:none;}
#mainNav .u1 {height:21px;line-height:21px;float:left;position:relative;z-index:999;}





#mainNav .u1_over .sub_nav {position:absolute;top:33px; left:-2px;display:block; background:#FFF; border:2px solid #c90809; border-top:none; padding:0px 0}
#mainNav .u1_over .sub_nav td{ width:125px; background:url(images/td_bg.gif) no-repeat ; border-bottom:10px solid #fff;}




#mainNav  .sub_nav a {color:#c60c0d; font-weight:bold ; text-decoration:none; width:115px;display:block; padding-left:10px; height:32px; line-height:32px;}
#mainNav  .sub_nav a:hover{ text-decoration:underline}
#mainNav  .sub_nav .level_2{ font-weight:normal; color:#666}
#mainNav  .sub_nav .level_2:hover{ font-weight:normal; background:#fff5e9; color:#c90809}




.tehui {padding:7px;}
.tehui table {float:left;padding:5px 6px 5px 7px;}
.tuijian table {float:left;padding:5px 6px;}
#search {width:960px;height:38px;line-height:35px; background:url(images/bg_2.gif) repeat-x 0 bottom;}
#search .f_r {padding-right:10px;_padding-top:5px;}
#search .f_r a {color:#666;}




#search img{ vertical-align:middle}
#search .go {background:url(images/bnt_search.gif);border:none;width:48px;height:21px; vertical-align:middle}

.hot_search{ float:left; line-height:22px; padding-left:10px}
.hot_search a{ padding:0 8px;}



.sale_box{float:right; width:258px; height:368px;}

.sale_box .tit{ height:32px;line-height:28px; background:url(images/bg_2.gif) repeat-x 0 bottom}
.sale_box .tit a{ float:left; padding:5px;}
.sale_box .clearfix{ padding:13px; padding-top:5px;}
.sale_box .name{ display:block; height:38px; overflow:hidden; margin-bottom:6px;}
.sale_box .name a{ font-weight:bold; color:#666}
.sale_box .name a:hover{color:#c90809}
.sale_box .timeBox{ float:right; padding-top:1px;}
.sale_box .timeBox ul{ float:left; font-weight:normal; color:#c90809; font-weight:bold; padding:0 2px; }
.sale_box .timeBox div{ float:left; font-weight:normal; width:21px; background:url(images/time_bg.gif) repeat-x; text-align:center;letter-spacing:3px;}
.sale_box .timeBox .time{ font-weight:normal; color:#666}
.sale_box .sale_pic{ padding:0; position:relative}
.sale_box .price{ text-align:center; font-size:18px; font-family:"微软雅黑"; display:block; height:33px; line-height:33px; font-weight:bold; color:#ca1214}
.sale_box .price .f1{ font-size:24px;  height:33px; line-height:33px;}
.sale_box .market{ text-align:center; padding:5px 0}
.sale_box .timeBox_l{float:left; padding-right:6px; }
.sale_box .timeBox_l b{ font-weight:bold; color:#ca1214}



.line_1{ height:4px; background:url(images/line1.gif) repeat-x}






#ur_here {height:22px;line-height:22px;padding:0px; padding-bottom:7px; border-bottom:1px solid #eaeaea}

 


.article_link{ width:675px; height:44px; background:url(images/article_link.gif) no-repeat}

.article_link a{ float:left; width:79px; height:29px;line-height:29px; text-align:center; color:#FFF; margin:0 6px; }

.article_link .art,.article_link a:hover{background:url(images/article_link_art.gif) no-repeat; text-decoration:none}
.article_link ul{ padding:5px 0 0 200px;}
.article_link ul img{ float:left}








#category_tree {background-color:#fff; padding:0px 15px 10px 15px}
#category_tree dl {  border-bottom:1px solid #eaeaea; padding-bottom:6px;}
#category_tree dt {color:#666;padding:10px 0 3px 0px;}
#category_tree dt a { color:#666666; font-weight:bold; padding-left:0px;text-decoration:none;}
#category_tree dt a:hover{color:#c60c0d;text-decoration: underline;}
#category_tree dd {padding:3px 15px; background:url(images/biao10.gif) 5px center no-repeat}
#category_tree dd a {color:#666; font-weight:normal;  text-decoration:none;padding:0 ;white-space:nowrap;
}
#category_tree dd a:hover {color:#c60c0d;text-decoration: underline;}


.goods_body  #category_tree { padding:8px 0 4px 0}
.goods_body  #category_tree dl {margin:0px 6px;}
.goods_body  #category_tree dt {padding:0 0 0 5px;}


#myjQuery {overflow:hidden; background:#ce3031;width:494px;position:relative;height:220px;text-align:center;margin:0 auto;}
#myjQueryContent {overflow:hidden;width:494px;height:193px;text-align:center;margin:0 auto;}
#myjQueryContent DIV {left:0;position:absolute;height:193px;}
#myjQueryContent .smask {z-index:-1;}
#myjQueryContent IMG {width:494px;height:193px;}
#myjQueryNav {display:block;overflow:hidden;width:494px;height:27px;background:none transparent scroll repeat 0 0;}

#myjQueryNav LI {border-right:#fff 1px solid;display:block;float:left;width:164px;cursor:pointer;padding-top:0;height:28px;text-align:center;overflow:hidden;}
#myjQueryNav A {display:block;text-transform:uppercase;width:164px;color:#fff;position:relative;top:0;height:28px;line-height:28px;margin:0 auto;}
#myjQueryNav .current {background:none transparent scroll repeat 0 0;}
#myjQueryNav .current A {display:block;width:164px;color:#fff;top:0;height:27px;background:#5f5e5e;}
#myjQuery a {font-size:12px;color:#fff;text-decoration:none;}


.hot_box ul{ border-bottom:1px solid #eee}
.hot_box .ul_list{ text-align:left; padding:0; height:25px;overflow: hidden;  background:url(images/biao6.gif) 5px 12px no-repeat; }
.hot_box .ul_list a{ padding-left:15px; display:block; height:25px; }




.index_tit {background:url(images/index_tit1.gif) no-repeat;width:960px;height:29px;line-height:29px;}
.index_tit .f_l {padding-left:220px;}
.index_tit .f_r {padding-right:35px;}
.index_tit .f_r a {font-size:14px;color:#FFF;font-weight:bold;text-decoration:none;}
.index_tit .f_r a:hover {text-decoration:underline;}



.cat_articles h3 {height:25px;line-height:25px;text-decoration:none;border-bottom:1px solid #ccc;}
.cat_articles h3 a {text-decoration:none;padding-left:20px;}
.cat_articles .boxCenterList { padding:0}

.cat_articles .boxCenterList a {text-decoration:none;display:block;background:url(images/biao5.gif) 7px 8px no-repeat;padding-left:22px;color:#666;height:24px;line-height:24px;overflow:hidden; }
.cat_articles .boxCenterList a:hover {color:#c60c0d;text-decoration:underline;}
.cat_articles .boxCenterList .a1 {color:#478100;background:url(images/biao6.gif) 0 6px no-repeat;}
.new_article{ overflow:hidden; height:370px; }
.new_article .boxCenterList{ padding:0 ;padding-bottom:2px;}
.new_article .boxCenterList div{ padding:8px; padding-left:5px; width:100px; float:left  }
.new_article .boxCenterList div a{  width:160px; padding-right:0; }


.top_10{ width:258px; height:459px; overflow:hidden}
.top_10 .tit{ height:39px; border-bottom:1px solid #eaeaea}
.top_10 .tit img{ float:left; padding:11px 0 0 11px}
.top_10 .boxCenterList{padding:5px;}
.top_10 ul{margin:0 7px;}
.top_10 .iteration {position:absolute;top:10px;left:0px; width:17px; height:14px;line-height:14px; color:#FFF; font-weight:bold;  text-align:center; background:url(images/iteration.gif) no-repeat}
.top_10 .iteration2 {position:absolute;top:9px;left:0px;  width:17px; height:14px;line-height:14px; color:#666; font-weight:bold;  text-align:center;background:url(images/iteration2.gif) no-repeat}
.top_10 .boxCenterList2 ul {height:1%;}
.top_10 .f1{ color:#c00}
.top_10 .boxCenterList2 ul {height:1%;margin-bottom:0;}
.top_10 .boxCenterList2 .ul_box{position:relative;DISPLAY: none; height:110px; padding-top:10px;}
.top_10 .boxCenterList2 li{ float:left; width:132px;  }
.top_10 .boxCenterList2 li.goodsimg {width:100px;margin-right:10px; float:left }
.top_10 .boxCenterList2 li.goodsimg img {width:100px;height:100px;display:block;}
.top_10 .boxCenterList2 .ul_list li{ float:left; width:200px;  }
.top_10 .boxCenterList2 .ul_list{position:relative; padding-left:28px; height:32px; line-height:32px;  overflow:hidden}/* FF */

.more{ float:right; font-size:12px; font-weight:normal; color:#999 ; background:url(images/biao9.gif) right center no-repeat; padding-right:12px; cursor:pointer}

.cat_goods{}
.cat_goods h3 {position:relative; background:none; border:1px solid #eaeaea; border-left:2px solid  #c90809;height:48px;  padding-bottom:0px}
.cat_goods h3 span ul{float:left;margin:0;padding:5px 0 0 0;height:23px}
.cat_goods h3 span ul a{text-decoration:none}
.cat_goods h3 span ul .li1{float:left; height:24px;  line-height:24px;padding-top:17px;}
.cat_goods h3 span ul li a{ color:#999; padding:0 6px; font-size:12px; font-weight:normal}
.cat_goods h3 span ul li a:hover{ color:#c90809; text-decoration:underline}
.cat_goods h3 span .name_img{width:225px; padding-top:12px; text-align:left; float:left}
.cat_goods h3 .more{ margin-top:20px; margin-right:10px}
.cat_goods_box { border-top:2px solid #f1f1f1}
.cat_goods_box .f_l{ width: 185px; padding:20px 0 15px 22px;}
.cat_goods_box .f_r { float:left; padding-top:4px;width:528px; padding-left:15px;}
.cat_goods_box .f_A_d{ float:left; width:184px;  padding-top:16px;}
.cat_goods_box .f_r .goodsItem{ padding:16px 25px 15px 15px; height:190px;}



.small_box{ width:473px; overflow:hidden}
.small_box .cat_goods h3 span ul .li1{ width:210px; overflow:hidden; float:left}
.small_box  .cat_goods h3 span .name_img{width:160px; padding-top:12px; text-align:left; float:left}
.small_box  .cat_goods_box .f_r .goodsItem{padding:10px 2px 15px 19px; }
.small_box  .cat_goods_box .f_l{ float:left; width:431px; padding:20px; padding-bottom:0;}
.small_box  .cat_goods_box .f_r{ width:471px; float:right;}












.yingxiangli{ padding:15px; padding-bottom:10px;}
.yingxiangli .tit{ padding-bottom:10px;}
.yingxiangli .f_l{ border:1px solid #eaeaea}
.yingxiangli .f_r{ width:242px; text-align:left }
.yingxiangli .f_r  .tit{ padding-bottom:5px; font-weight:bold}
.yingxiangli .f_r  .tit a{ color:#666}
.yingxiangli .f_r  p a{ color:#c90809}
.yingxiangli .f_r .b{ text-indent:24px;}
.yingxiangli_art{ padding:0 15px;}
.yingxiangli_art ul a{ float:left; height:22px; line-height:22px; width:200px; padding-left:10px; overflow: hidden; position:relative; background:url(images/biao3.gif) 0 center no-repeat}
.yingxiangli_art p{ text-align:right}
.yingxiangli_art p a{ color:#c90809}

.vote_box{ background:#fafafa; border:1px solid #eaeaea; padding:15px; height:234px;}



.brands { padding:5px;}
.brands .clearfix a img{ width:89px; height:34px; border:1px solid #cecece; margin:1px 0}
.brands .clearfix a:hover img{border:1px solid #c81415}

.tit_2{ border-bottom:1px dotted #ccc; text-align:center}


.index_comm{ background:#f9f9f9; border:1px solid #eaeaea; } 
 
.index_comm   ul{ border:1px solid #eaeaea; width:270px; height:60px; padding:10px; text-align:left; float:left; background:#FFF; margin:5px 10px}
.index_comm   ul .f_l img{width:58px; height:58px; border:1px solid #eaeaea; float:left;}
.index_comm   ul .f_r{ width:185px;}
.index_comm   ul .f_r a{ display:block; line-height:20px}

.voice{ width:247px; height:238px; float:left;  background:#fafafa; border:1px solid #eaeaea}
.voice .tit{ padding-top:15px; padding-left:12px;}
.voice .clearfix a{ float:left; padding:5px 6px 5px 6px;}
.voice .clearfix { padding:0 0 0 6px;}







.brandsIe6 {_width:250px;}
.centerPadd {overflow:hidden;padding:5px 8px 8px;}
.itemTit {height:30px;background:url(images/bg.gif) no-repeat 0 -195px;padding-left:190px;text-align:right;}
.itemTit.New {background:url(images/bg.gif) no-repeat 0 -225px;}
.itemTit.Hot {background:url(images/bg.gif) no-repeat 0 -256px;}
.itemTit img {position:relative;top:7px;}
.itemTit h2 {float:left;height:27px;background:url(images/itemH2Bg.gif) repeat-x left top;border:1px solid #d6ecff;font-size:12px;text-align:center;color:#666;font-weight:100;line-height:28px;border-bottom:none;position:relative;bottom:-3px;display:inline;white-space:nowrap;margin:0 6px 0 0;padding:0 10px;}
.itemTit .h2bg {height:27px;line-height:28px;border:none;background:none;font-size:12px;text-align:center;color:#006ace;font-weight:100;display:inline;white-space:nowrap;padding:0 10px;}
.itemTit .h2bg a {color:#006ace;text-decoration:none;}
.centerPadd .goodsBox {border:1px solid #d6ecff;background:#fff;_padding:12px 0 0 0;padding:12px 0 0 17px;}
.centerPadd .goodsBox .more {text-align:right;clear:both;margin:0 8px 8px 0;}




.goodsItem {width:130px;float:left;position:relative;overflow:hidden;padding:15px 26px 15px 26px;}
#buy_pager a{ text-decoration:none; color:#c60c0d}
.goodsItem .name {height:25px;line-height:25px;display:block; overflow:hidden}
.goodsItem .name a{ color:#333}

 .goodsItem .price {font-size:12px;color:#999;line-height:25px;}
.goodsItem .price font {font-size:12px;}

.goodsItem .goodsimg {width:130px;height:130px;margin-bottom:4px;}
.goodsItem p {text-align:center;color:#666;font-size:12px;}
.goodsItem span {width:40px;height:40px;position:absolute;left:0;top:0;}
.goodsItem span.best {background:url(images/bg.gif) no-repeat 0 -304px;}
.goodsItem span.news {background:url(images/bg.gif) no-repeat -75px -304px;}

.goodsItem span.hot {background:url(images/bg.gif) no-repeat -161px -304px;}




.goodsBox2 .goodsItem {width:166px; height:246px;  text-align:center; padding:8px 10px;float:left;position:relative;overflow:hidden;}
.goodsBox2 .goodsItem .goodsimg{ width:160px;height:160px; }
.goodsBox2 .goodsItem a .goodsimg{ padding:2px; border:1px solid #fff; background:#FFFFFF; }
.goodsBox2 .goodsItem a:hover .goodsimg{ padding:2px; border:1px solid #ffe2a6; background:#fff9eb}


.img_bot table {float:left;border:1px solid #e4e4e4;margin-right:5px;}
.img_bot .f_l table {margin:0;}
.helpTitBg { border-top:none}

.helpTitBg dl {float:left;width:137px;line-height:22px;padding-left:21px;}
.helpTitBg dl dt {padding-left:0px; padding-bottom:3px; border-bottom:1px #ccc dotted; margin-bottom:3px;color:#666;}
.helpTitBg dl dt a {font-weight:bold;color:#666;text-decoration:none;}
.helpTitBg dl dd {padding-left:20px; line-height:20px;  }
.helpTitBg dl dd a {color:#999999;text-decoration:none;}
.helpTitBg dl dd a:hover{ color:#cc0000; text-decoration: underline}

.fot_b img{ float:left; padding-right:10px;}


.RelaArticle a,.alone {background:url(images/bg.gif) no-repeat 0 -170px;color:#666;text-decoration:none;padding:0 0 0 10px;}
.RelaArticle a:hover {background:url(images/bg.gif) no-repeat 0 -170px;color:#c60c0d;text-decoration:none;padding:0 0 0 10px;}



.history h2 {width:132px;height:33px;line-height:33px;background:url(images/history_bg1.gif) no-repeat;float:left;font-size:14px;text-align:center;color:#c90035;margin-right:5px;}
.history .h2bg {background:url(images/history_bg2.gif) no-repeat;color:#666666; width:132px; font-weight:normal}


.zixun{ width:732px; height:187px; border:1px solid #ffcfcf; overflow:hidden }


.history2{ padding:3px 0 0 400px; position:relative; background: #fff6f7 url(images/h2_line.gif) repeat-x 0 bottom; }
.history2 .fl{ position:absolute; left:0; top:2px; }
.history2 .fr{position: absolute; top:11px; right:6px }


.history2 h2 {width:64px;height:27px;line-height:27px;float:left;font-size:12px;text-align:center;color:#FFF; margin-right:7px; font-weight:normal; border:1px solid #ffcfcf; border-bottom:none; background:#FFFFFF; color:#a1a1a3}
.history2 .h2bg {color:#a1a1a3; background:none; border:none; padding-top:1px;}
.history2_in{ float:left; width:320px; position:relative; margin:12px 18px;_margin:12px 14px;}
.history2_in img{ border:1px solid #dcd9d9; padding:5px; width:98px; height:95px; float:left; margin-top:6px}
.history2_in .blank{ display:none; position:absolute}
.history2_in dl{ float:left; width:200px; line-height:21px; height:115px; overflow:hidden; position:absolute; top:0; right:0}
.history2_in dl dd{ width:100%; height:22px;line-height:22px; overflow:hidden; border-bottom:1px dashed #cdcdcd}
.history2_in dl dd a{ color:#9ea1a6; background:url(images/biao14.gif) 0 8px no-repeat; float:left ; padding-left:10px;}









#clear_history a {background:none;color:#666;text-decoration:none;float:right;cursor:pointer;padding:0;}
.colle a {background:none;color:#666;text-decoration:none;padding:0;}
.colle a:hover {background:none;color:#c60c0d;text-decoration:none;padding:0;}

#goodsInfo {_height:1%;}







#goodsInfo .imgInfo {width:254px;float:left;}
#goodsInfo .imgInfo .thumb {width:230px;height:230px;display:block;}

#goodsInfo .gallery {width:204px;float:left;margin-left:10px;_margin-left:5px;overflow:hidden;}
#goodsInfo .gallery ul {width:auto;}
#goodsInfo .gallery li {float:left;width:48px;margin:0 2px;}
#goodsInfo .gallery li img {width:46px;height:46px;display:block;}
#goodsInfo .textInfo {background:#fff;width:330px;float:right;padding:0 px;}
#goodsInfo .textInfo ul{ color:#999; line-height:27px; } 
#goodsInfo .textInfo li {_height:1%;padding:3px 0;}
#goodsInfo .textInfo li strong {font-weight:normal;}
#goodsInfo .textInfo li.padd {padding:2px 0;}


#goodsInfo .textInfo li dd {float:left; width:100%; vertical-align:middle  }
#goodsInfo .textInfo li dd.ddR {border-left:1px solid #eeecec;width:48%;padding-left:8px;}
#goodsInfo .textInfo li dd.ddL {border-right:1px solid #eeecec;}
#goodsInfo .textInfo .loop { }
#goodsInfo .textInfo .loop dd{ line-height:22px;}






.goods_box_li{ padding-top:10px; border-bottom:1px  dashed #dedede; padding:5px 0 }
 

#goodsInfo .textInfo  .youhui{border:1px solid #eaeaea; border-top:2px solid #c90809; padding:10px 20px;}
#goodsInfo .textInfo  .youhui .tit{ font-weight: bold; padding-bottom:5px; }
#goodsInfo .textInfo  .youhui p{ display:block; background: url(images/biao7.gif) 0 10px no-repeat; line-height:22px; padding-left:10px;}





.bnt_box{ float:left; background:#fffceb; border:1px solid #ffe2a6; padding:10px 20px; }
.bnt_box li{ }

.bnt_box input{ width:60px; float:left}
.bnt_box strong{ margin-right:10px; float:left}
.bnt_box select{ margin-right:10px; float:left}



 


.ie6 {padding-left:25px;_padding-left:15px;height:1%;}
.comments li {background:url(images/lineBg.gif) repeat-x left bottom;width:97%;_height:1%;text-align:left;position:relative;margin-bottom:8px;padding:3px 8px;}
.comments li img {position:absolute;right:0;top:3px;}
.comments li p {text-align:left;margin:3px auto;}
.commentsList {border:1px solid #e2e2e2;background:;padding:10px;}
.commentsList .inputBorder {border:1px solid #ccc;background:#fff;}
.captcha {margin-left:8px;position:relative;top:3px;cursor:pointer;}
.art_zi {margin-left:5px;_margin-left:3px;float:left;width:221px;height:196px;overflow:hidden;border:1px solid #e4e4e4;line-height:27px;padding:5px;}
.art_zi a {text-decoration:none;color:#666;}
.art_zi .tit {font-size:13px;color:#c60c0d;background:#e4e4e4;height:22px;line-height:22px;margin-bottom:8px;padding-left:12px;}
.art_zi .boxCenterList {padding:0 5px;}
.art_zi .boxCenterList ul {text-align:left;padding:0;}
.art_zi .boxCenterList a {color:#666;height:27px;line-height:27px;background:url(images/biao5.gif) 0 center no-repeat;}
.art_zi .bnt_blue {width:45px;height:23px;line-height:23px;background:url(images/btn_bg1.gif);text-align:center;color:#ac3f57;font-weight:bold;font-size:14px;}
.email_list {overflow:hidden; padding:5px;}
#user_email {width:135px;color:#d5d5d5;line-height:21px;}
#brandList {margin-top:12px;height:1%;}
#brandList .brandBox {width:232px;_width:228px;float:left;text-align:center;overflow:hidden;height:160px;margin:0 5px 20px;}
#brandList .brandBox .brandLogo {width:188px;height:52px;overflow:hidden;}
#brandList .brandBox h4 {height:23px;line-height:23px;background:#e9e9e9;text-align:right;font-weight:100;font-size:12px;margin:15px 0 8px;padding:0 10px;}
#brandList .brandBox h4 span,#brandList .brandBox h4 span a {float:left;font-weight:bold;color:#666;text-decoration:none;}
#brandList p {text-align:left;margin-bottom:5px;color:#909090;padding:8px;}
#brandList p.brandCategory,#brandList p.brandCategory a {text-align:left;color:#006acd;text-decoration:none;}
#brandList .brandArticle {border:1px dashed #d9d9d9;background:#e2e2e2;text-align:left;}
.brandCategoryA a {margin-right:15px;}
.box_1 .userCenterBox {border:4px solid #f8f8f8;background-color:#fff;}
.usBox {color:#666;}
.usBox .inputBg {border:1px solid #a7a6aa;background:none;}


.user_shuomin{height:41px; line-height:41px;background:#ffffcc; border:1px solid #ff7112; text-align:center; font-size:14px; font-weight:bold}
.user_shuomin a{ color:#a71f24; font-size:16px;} 
.user_tit{ font-weight:bold; font-size:16px; color:#851f19; border-bottom:1px dotted #ccc; padding-bottom:6px; margin-bottom:10px;}


.usBox_1 {background:#fff;text-align:left;width:446px;}



.us_Submit {border:none;width:114px;height:32px;background:url(images/bnt_ur_log.gif);}
.us_Submit_reg {border:none;width:133px;height:32px;background:url(images/bnt_ur_reg2.gif);}
.usTxt {width:446px;height:267px;float:right;text-align:left;border-left:1px solid #eee;padding-left:20px;}

.usTxt img {margin-top:15px;}
.usBox_2 {background:#fff url(images/usBox_2bg.gif) 550px center no-repeat;text-align:left;padding:23px 153px 60px 123px;}
.usBox_2 .regtitle {height:30px;background:url(images/ur_bg.gif) no-repeat 0 -34px;}
.actionSub a {color:#666;text-decoration:underline;background:url(images/ur_bg.gif) no-repeat 0 -68px;padding-left:14px;}
.box_1 .userCenterBox .userMenu a {display:block;height:25px;line-height:25px;background:url(images/menuBg.gif) no-repeat 0 -30px;color:#666;text-decoration:none;padding-left:3px;margin:0 0 3px 10px;}
.box_1 .userCenterBox .userMenu a.curs {background:url(images/menuBg.gif) no-repeat 0 0;font-weight:bold;}
.box_1 .userCenterBox .userMenu a img {margin-right:3px;}
.msgBottomBorder {clear:both;background:url(images/lineBg.gif) repeat-x left bottom;padding-bottom:8px;margin-bottom:8px;}


.screeBox {padding:9px 0; }
.screeBox a{color:#666; margin:0 4px}
.screeBox span{background:#999999; color:#FFFFFF; padding:2px 6px; margin:0 9px;}
.screeBox strong {color:#666666;float:left;width:40px;text-align:center; padding:2px}


 
.sort {padding-right:10px;}
.sort *{ vertical-align:middle; color:#666; text-decoration:none;}
h3 .sort{ font-weight:normal}

.h3_3{ height:32px;line-height:32px;  border:1px solid #eaeaea; background:none  }
.h3_3 .f_l img{ float:left; padding:0 6px;}
.h3_3 span{   color:#666666; height:32px;line-height:32px; font-size:12px; width:60px; padding-left:18px; text-align:left}
.h3_3 .f_r img{ vertical-align:middle}
.h3_3 .f_r{ font-size:12px; _padding-top:6px;}
.h3_4{ border-top:1px solid #e6e6e6}


.sort a {position:relative;bottom:0;}
.sort input {position:relative;top:3px;}
.goodsList {padding:10px 0 0; border:1px solid #e6e6e6; border-top:none}
.goodsList .name{ display:block; height:22px; line-height:22px; overflow:hidden; margin-bottom:6px;}




.goodsList ul {margin-bottom:5px; height:180px; padding-bottom:5px; border-bottom:1px dashed #e6e6e6 }
.goodsList ul#bgcolor {background:#fbfbfb;border-top:1px dashed #e8e8e8;border-bottom:1px dashed #e8e8e8;}
.goodsList li {float:left;padding:8px;}
.goodsList a {text-decoration:none;color:#900;}
.goodsList li.thumb img {}
.goodsList li.goodsName {width:450px;margin-right:10px;font-size:12px;}



.goodsList li.goodsName .div_name {height:80px;}
.goodsList li.goodsName .action { display:block; padding-bottom:7px; h}
.goodsList li.goodsName .action .f1{ font-weight:bold}

.goodsList li.goodsName a {font-size:12px;color:#666;}
.goodsList li.goodsName .bnt_blue {color:#FFFFFF;font-size:12px;float:left;margin-right:10px;font-weight:normal;}
.goodsList li.goodsName  .tese{ color:#999; height:54px; overflow:hidden; margin-bottom:8px;line-height:18px; display:block}
.goodsList li.goodsName  .tese b{ color:#999; font-weight:normal}






.group li {float:left;background:#fff;padding:8px;}
.group .f_l {width:250px;text-align:center;}
.group .f_r {width:395px;line-height:23px;text-align:left;}
.flowBox {padding-bottom:5px;border-top:2px solid #c60c0d; }

.flowBox1 {padding-bottom:5px; border:1px solid #e4e4e4; border-top:2px solid #c60c0d; padding:1px;}

.flowBox h6 {background:#f1edec;color:#c60c0d; font-weight:normal; margin-bottom:3px;}

.flowBox h6 span{ color:#666666; font-weight:bold}


.flowBox table {margin:0; margin-bottom:10px;}
.flowBox table th{ font-weight:normal}

.tr_1  td{ border-bottom:1px solid #ddd;}



.flowGoodsFittings ul {height:1%;float:left;margin:5px 4px;}
.flowGoodsFittings li.goodsimg {width:48px;margin-right:10px;}
.flowGoodsFittings li.goodsimg img {width:48px;height:48px;display:block;}
.article_search {margin:8px 0;}
.article_search .inputBg {width:300px;}
.quotation {text-align:center;margin:20px auto;}


   /*翻页*/
   .pagebar{height:20px; text-align:right; float:right}
   .pagebar img{position:relative; top:2px;}
   .pagebar a{ margin:0 2px; color:#fff; text-decoration:none; background:#757575; line-height:28px; font-family:Arial, Helvetica, sans-serif; padding:2px 4px;}
   .pagebar .page_now{ margin:0 2px; color:#fff; font-weight:bold; background:#c2030d;border: line-height:28px; font-family:Arial, Helvetica, sans-serif; padding:2px 4px;}
 .pagebar a:hover{ text-decoration:none;  background:#c2030d;}
 .pagebar .no{color:#aca899; background:none; }
 .pagebar .no:hover{background:none; }
 .pagebar .next,.pagebar .prev { background:none; color:#454545}
 
 .pager_l{ float:left; padding:3px 0}
.pager_l b{ font-weight:bold; color:#cd0000}








#compareBox {background:url(images/comparebox.gif) no-repeat;width:140px;position:absolute;right:1px;top:200px;padding-top:21px;}
#compareBox input {width:140px;height:26px;border:none;background:url(images/compareSub.gif) no-repeat;}
#compareList {width:138px;background:#FFFFFF;border:1px solid #91b3cb;border-bottom:none;padding:5px 0 0;}
#compareList li {color:#333;text-align:left;background:#eff8ff;border:1px solid #dceaf5;margin:0 5px 5px;padding:3px 5px;}
#compareList li img {float:right;padding-top:4px;}
.messageli {list-style-type:none;color:red;padding:5px;}
.messagediv {font-size:12px;position:absolute;border:1px solid #FFD700;text-align:center;background-color:#FFFACD;filter:alpha(opacity=50);-moz-opacity:0.7;opacity:0.7;padding:5px;}
.point li {float:left;width:300px;}



.MagicZoomBigImageCont {border:1px solid #999;}
.MagicZoomHeader {font:12px Tahoma, Verdana, Arial, sans-serif;color:#fff;background:#999;text-align:center!important;}
.MagicZoomPup {border:1px solid #aaa;background:#ffffff;cursor:hand;}
.MagicZoomLoading {text-align:center;background:#ffffff;color:#444;border:1px solid #ccc;opacity:0.8;display:none;padding:3px!important;}
.MagicZoomLoading img {padding-top:3px!important;}
.MagicThumb {cursor:url(images/zoomin.cur), pointer;outline:none;}
.MagicThumb-zoomed {cursor:default;}
.MagicThumb img {border:1px solid #dcdcdc;outline:none;}
.MagicThumb-image {border:1px solid #dcdcdc;outline:none;}
.MagicThumb-image-zoomed {cursor:url(images/zoomout.cur), pointer;}
.MagicThumb-caption {color:#333333;background-color:#F0F0F0;border:1px solid #CCCCCC;border-top:none;font-family:Verdana, Helvetica;font-size:11px;padding:8px 16px;}
.MagicThumb-controlbar {display:block;height:18px;}
.MagicThumb-controlbar a {display:block;width:18px;height:18px;outline:none;float:left;overflow:hidden;margin:0 1px;}
.MagicThumb-controlbar a span {display:block;width:1666px;height:1666px;background:transparent url(images/controlbar.png) no-repeat 0 0;outline:none;position:absolute;left:0;top:0;}
.MagicThumb-loading {border:1px solid #999;background:#ffffff url(images/loader.gif) no-repeat 2px 50%;text-decoration:none;text-align:left;font-size:8pt;font-family:sans-serif;margin:0;padding:2px 2px 2px 22px;}


.picture {text-align:left;}
.picture img {width:55px;height:55px;cursor:pointer; margin-right:10px}
.picture img.onbg { border:2px solid #ff8a04}
.picture img.autobg {border:2px solid #fff}


.left_help{ background:#f0edeb; border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.left_help dl dt {font-weight:bold;font-size:12px; color:#FFF;background: url(images/left_help_dt.gif) no-repeat; width:170px;height:27px;line-height:27px; margin-bottom:5px}
.left_help dl dt a{ color:#FFF; padding-left:40px;}

.left_help dl dd {padding-left:40px; background:url(images/biao12.gif) 30px center no-repeat; margin-top:5px;}
.left_help dl dd a {color:#333;text-decoration:none;}
.left_help dl dd a:hover {color:#c00;}


.art_cat_box th {height:26px;line-height:26px;}
.art_cat_box td {border-bottom:1px solid #dbdbdb;font-weight:normal; padding:8px;}
.art_cat_box td a {font-weight:bold;color:#666;padding-left:20px;}



.art_cat_box2{ border:1px solid #e4e4e4; background:url(images/art_cat_box2.gif) repeat-x; padding:9px 19px;}
.art_cat_box2 #ur_here{ border-bottom:1px solid #cdcccc}

.art_cat_box2 .none3{ display:none}
.art_cat_box2 ul{ padding:28px 0; border-bottom:1px dashed #ccc}
.art_cat_box2  .miaoshu { color:#666; text-decoration:none; cursor:pointer}
.art_cat_box2  .miaoshu b{ color:#4d066e; font-weight:normal}





.art_cat_boxin{ border:1px solid #ffd0d0; padding:10px; line-height:29px;}
.art_cat_boxin a{ color:#666}



.f_l,#mainNav img,.screeBox ul {float:left;}
.f_r,.index_tit_ad {float:right;}
.tc,.log .userInfo,.goodsList li.thumb {text-align:center;}




.B_blue{border:1px solid #e2e2e2;}
.f1{ color:#c90809}
.log .f1{ color:#c90809}
.f4,.shop_s {color:#c90809;}
.f5{font-size:14px;font-weight:bold;}
.group {padding:8px 5px;}


.top_link{ position:absolute; right:0; top:30px;}
.top_link a{ width:76px; height:29px;line-height:27px; font-weight:bold; text-align:center; margin:30px 3px 0 3px; color:#333;background: url(images/top_link.gif) no-repeat; float:left;}
.top_link a:hover{background:url(images/top_link.gif)  0 -29px no-repeat; text-decoration:none; cursor:pointer}
.top_link span{ float:left;width:76px; height:29px; padding-left:9px;cursor:pointer}
.top_link .a1{ background:url(images/l1.gif) 9px center no-repeat}
.top_link .a2{ background:url(images/l2.gif) 9px center no-repeat}
.top_link .a3{ background:url(images/l3.gif) 9px center no-repeat}
.top_link .a4{ background:url(images/l4.gif) 9px center no-repeat}


.index_tit .f_l a:hover {color:#c60c0d;text-decoration:underline;}




.fot{ padding-bottom:20px;}
.fot img{ padding:0 5px;}








.flowGoodsFittings li {float:left;width:120px;}

.art_zi .tit a,.usBox_1 a {color:#c60c0d;}
.flowGoodsFittings,.left_help dl {padding:10px;}









.zi h3{color:#4d066e}
.zi h3 span{color:#4d066e;}
.zi h3 span a{color:#4d066e}
.zi .AreaL h3 {background:#f7f4f0;border:none;text-align:right;}
.zi .zi_span {float:left;padding-left:27px;color:#4d066e;font-size:14px; background:url(images/biao9_b.gif) 10px center no-repeat}
.art_box{}
.art_box ul{ text-align: left;}
.art_box ul li { position:relative; padding-left:30px; width:210px; }
.art_box ul li .float{ position: absolute; left:0; top:3px; width:17px; height:16px; line-height:16px; text-align: center; color:#FFF; background:#fff; font-weight:bold}

.news_top img{ float: left; border:1px solid #dbd8d8; padding:1px;}
.news_top .news_top_r{ float:right; width:110px; }
.news_top .news_top_r p { line-height:20px;}
.news_top .news_top_r p a{ color:#666}
.news_top .news_top_r p a b{ font-weight:normal; color:#4d066e}
.news_top .news_top_r .tit{ height:21px;line-height:21px; background:#202020; color:#FFF; display:block; text-align:center}




.brands_gd{ background:#f9f9f9; border:1px solid #eaeaea; padding:15px 20px;}

.rollBox .Cont {width:879px;float:left;overflow:hidden; }
.rollBox .ScrCont {width:111342177.27px;}
.rollBox #List1 {float:left;}
.rollBox #List2 {float:left;}
.rollBox {width:879px;overflow:hidden; }
 
.index_bottom {}
.index_bottom .left { }
.index_bottom .center {width:879px; overflow:hidden;}
.index_bottom .center A {width:133px;display:block; padding:0 7px 0 7px; float:left;height:50px;}
.index_bottom .center A IMG {width:133px;height:50px;border-width:0;}
.index_bottom .right {  }
.index_bottom .right IMG {cursor:pointer;}
.index_bottom .left IMG {cursor:pointer;}




.footer_box{ background:#fafafa url(images/footer_bg.gif) repeat-x 0 0;}





.box_5 { border:1px solid #ffcfcf}
.box_5 h3{ height:26px;  line-height:26px; border:none;border-bottom:1px solid #ffcfcf; padding:0;}
.box_5 h3 img{ float: left}
.box_5 ul li{}


.links{border:1px solid #e2e2e2;padding:0 5px; }
.links a {color:#888;text-decoration:none;margin:0 2px;}
.links .link_r img {width:88px;height:31px;border:1px solid #e5e5e5;margin:5px;}
.link_l{ float:left; width:42px; text-align:center; padding-top:10px;}
.link_r{ float:left; border-left:1px solid #e2e2e2; padding:10px 5px}
#bottomNav {width:958px;}
.bNavList {height:22px;line-height:22px;text-align:center;padding:0px; color:#CCCCCC }
.bNavList a {text-decoration:none;color:#999;padding:0 10px;}
.bNavList a:hover{ color:#c00}

#footer {width:760px;text-align:center;margin:0px auto; color:#999999}
#footer .text a {color:#999999;text-decoration:none;}
#footer .text  a:hover{ color:#c00}
